#main-containers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px; 
    width: 100%;
    box-sizing: border-box;
}

#clock, #todo-list {
    width: 95%;
    border-radius: 10px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#clock {
    top: 0;
}

#todo-list {
    top: 15%;
}

#clock {
    background: #e6f0ff;
}

#todo-list {
    background: #f6ffe6;
}
