.musicPlayer, .searchBox{
    background-color: #ffffff;
    box-shadow: 1px solid #ccc;
    border-radius: 4px;
}

.soundCloud{
    display: block;
    padding: 10px;
}

.searchBox{
    height: 40%;
}

.musicPlayer{
    height: 60%;
}
