/*Puts canvas to full width and height of screen*/
#canvas {
    display: block;
    width: 100%;
    height: 100%;
}

/*Makes editingTools, mainTools, floatingWidgets appear as white rounded rectangles*/
#editingTools, #mainTools, .floatingWidgets {
    position: fixed; 
    display: flex;
    gap: 15px;
    padding: 12px;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 2;
}

/*Position editingTools to left and high up on screen*/
#mainTools {
    top: 25%;
    left: 20px;
}

/*Position editingTools to left and slightly below mainTools*/
#editingTools {
    top: 45%;
    left: 20px;

}

/*Position floatingWidgets to right and take up most of screen height*/
.floatingWidgets {
    top: 5%;
    right: 20px;
    height: 85%;
    width: 20%;
}

/*Position editingMenu and shapesMenu as rounded rectangles to the right of their respective buttons that trigger them to appear*/
#editingMenu, #shapesMenu {
    position: absolute;
    left: 100px;    
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 8px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*Position editingMenu*/
#editingMenu {
    top: 0px;
}

/*Position shapesMenu*/
#shapesMenu {
    top: 100px;
}

/*Position textEditingTools and shapeEditingTools as rounded rectangles to near their respective textboxes and shapes*/
#textEditingTools, #shapeEditingTools {
    position: absolute;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    padding: 12px;
    z-index: 3;
    display: flex;
    gap: 10px;
    align-items: center;
    transform: translate(-50%, 0);
}